{% extends 'base.html' %}

{% block content %}
<h1>Todo</h1>
<hr>
<br>
{% if todos %}

{% for todo in todos %}
<ul>
    <li>{{todo.author}} - {{todo.title}}</li> <br>
    <br>
    {% if request.user.is_authenticated %}

        {% if todo.completed is True %}
        <form action="{% url 'todos:toggle' todo.pk %}">
            {% csrf_token %}
            <input type="submit" value='취소하기'>
        </form>
        {% else %}
        <form action="{% url 'todos:toggle' todo.pk %}">
            {% csrf_token %}
            <input type="submit" value='완료하기'>
        </form>
        {% endif %}

        <form action="{% url 'todos:delete' todo.pk %}">
            {% csrf_token %}
            <input type="submit" value='삭제하기'>
        </form>

    {% endif %}
   
</ul>
{% endfor %}


{% else %}

<span>작성된 글이 없습니다.</span>

{% endif %}

{% endblock content %}

